/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eee;
  margin:0;
}

.librairie{
  width:600px;
  margin: 0 auto;
  background-color: #fff;
  padding:10px 100px;
}
